footer{
    height: 20vh;
    display: flex;
    position: fixed; 
    div{
        span{
            a{
            }
        }
        ul{
            li{
                #enlacesocial{
                }
            }
        }
    }
}
